@import "../../../config/css-config/mixin.scss";

.product-card {
  margin-bottom: 20px;
  width: calc(100% - 2px);

  @include sm {
    width: calc(50% - 5px);
  }

  @include md {
    width: calc(33% - 15px);
  }

  @include lg {
    width: calc(25% - 15px);
  }

  .thumbnail {
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;

    @include md {
      height: 350px;
    }

    img {
      transition: all ease 0.3s;
      display: block;
      height: 100%;
      mix-blend-mode: darken;

      @include md {
        width: 100%;
      }
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    .product-card-wishlist {
      position: absolute;
      z-index: 5;
      height: 30px;
      width: 30px;
      display: grid;
      place-content: center;
      border-radius: 50%;
      bottom: 10px;
      right: 10px;

      &-added {
        svg {
          color: red;
        }
      }
    }
  }

  .product-details {
    display: flex;
    flex-direction: column;

    .name {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;

      @include md {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    .price {
      font-size: 18px;

      @include md {
        font-size: 24px;
      }
    }
  }
}
