@import "../../config/css-config/mixin.scss";

.single-product-main-content {
  margin: 20px 0;

  @include lg {
    margin: 75px 0;
  }

  .layout {
    max-width: calc(100% - 20px);
    margin: 0px auto;

    @include lg {
      max-width: 1200px;
    }

    .single-product-page {
      display: flex;
      flex-direction: column;

      @include lg {
        flex-direction: row;
      }

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        max-width: calc(450px + 100px);
        width: 100%;
        margin: 0px auto;

        @include md {
          flex-direction: row-reverse;
          width: 100%;
        }

        .main-image {
          background-color: rgba(0, 0, 0, 0.05);
          // border: 1px solid black;
          // height: 450px;
          width: 100%;
          margin: 0 auto;

          display: flex;
          align-items: center;
          justify-content: center;

          @include md {
            height: 450px;
            width: 100%;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            mix-blend-mode: darken;

            @include md {
              object-fit: cover;
            }
          }
        }

        .other-images {
          display: flex;
          gap: 10px;
          height: 100px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.05);
          align-items: center;
          justify-content: center;
          padding: 0 10px;

          @include md {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            max-height: 450px;
            max-width: 80px;
            padding: 10px 0;
          }

          &-prev,
          &-next {
            .btn {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 60px;
              width: 60px;
              background-color: rgba(0, 0, 0, 0.05);
              color: white !important;
            }

            .prev-svg,
            .next-svg {
              svg {
                font-size: 25px;
              }
            }

            .up-svg,
            .down-svg {
              display: none;
            }

            @include md {
              .up-svg,
              .down-svg {
                display: block;
              }

              .prev-svg,
              .next-svg {
                display: none;
              }
            }
          }

          &-container {
            display: flex;
            flex-direction: row;
            max-width: 200px;
            overflow: hidden;
            transition: scroll 0.5s ease-in;
            scroll-behavior: smooth;
            gap: 10px;

            @include md {
              flex-direction: column;
              // max-height: 200px;
              height: 100%;
            }

            img {
              width: 64px;
              height: 64px;
              object-fit: cover;
              cursor: pointer;
              border: 1px solid transparent;

              &.active {
                border: 1px solid #6b6b6b;
              }
            }
          }
        }
      }

      .right {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-top: 20px;

        @include lg {
          padding: 0px 35px;
        }

        .name,
        .price,
        .desc {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 20px;
        }

        .name {
          @include md {
            font-size: 24px;
            line-height: 32px;
          }
        }

        .desc {
          font-size: 14px;
          line-height: 20px;
          color: #6b6b6b;

          @include md {
            font-size: 16px;
            line-height: 24px;
          }
        }

        .cart-buttons {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          @include md {
            margin-top: 30px;
          }

          &-text {
            position: relative;
            width: 200px;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            h3 {
              margin-bottom: 0;
            }
          }

          .quantity-buttons {
            display: flex;
            width: fit-content;
            border: 2px solid rgba(0, 0, 0, 0.2);
            height: 50px;

            span {
              font-size: 18px;
              width: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              color: #6b6b6b;

              &:nth-child(1) {
                border-right: 2px solid rgba(0, 0, 0, 0.2);
              }
              &:nth-child(2) {
                width: 60px;
              }

              &:nth-child(3) {
                border-left: 2px solid rgba(0, 0, 0, 0.2);
              }
            }
          }

          button {
            outline: 0;
            border: 0;
            height: 50px;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 16px;

            flex-grow: 1;

            @include md {
              flex-grow: unset;
            }
          }

          .add-to-cart-button {
            color: white;
            background: #8e2de2 !important;
            border-bottom: 3px solid #6516aa;
          }

          .go-to-cart-button {
            color: black;
            background: yellow !important;
            border-bottom: 3px solid yellowgreen;
          }

          .added-to-wishlist-button {
            color: white;
            background: #b4161b !important;
            width: 300px;
          }

          .add-to-wishlist-button {
            color: black;
            background: white !important;
            border-bottom: 3px solid black;
            width: 300px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            svg {
              color: #b4161b;
            }
          }
        }

        .divider {
          margin: 20px 0;
          height: 1px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.1);
        }

        .info-item {
          .text-bold {
            font-size: 18px;
            font-weight: 500;
            display: block;

            &:nth-child(1) {
              margin-bottom: 20px;
            }

            span {
              font-size: 16px;
              font-weight: 400;
              cursor: pointer;
              color: #6b6b6b;
            }

            svg {
              margin: 0px 5px;
            }
          }
        }
      }
    }
  }
}
