.navbar {
  background-color: #131921;

  .container {
    align-items: flex-end;
    justify-content: start;
    gap: 20px;
    flex-wrap: nowrap;

    .logo,
    .address,
    .place,
    .settings,
    .orders,
    .cart {
      min-width: max-content;
      border: 1.2px solid transparent;
      padding: 5px;
      cursor: pointer;
      transition: all 0.02s linear;

      &:hover {
        border: 1.2px solid white;
      }
    }

    .logo {
    }

    .address {
      display: flex;
      flex-direction: column;
      align-items: center;

      .details {
        display: flex;
        align-items: flex-start;
        gap: 2px;
      }
    }

    .search {
      flex-grow: 100;

      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:focus {
          box-shadow: none;
          border-color: inherit;
        }
      }

      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .place {
      display: flex;
      align-items: flex-start;
      gap: 4px;

      img {
        height: 20px;
      }
    }

    .settings {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      div {
        display: flex;
        gap: 4px;
        align-items: flex-end;
        span {
          line-height: initial;
        }
      }
    }

    .orders {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: flex-start;
      //   justify-content: end;

      //   div {
      //     display: flex;
      //     gap: 4px;
      //     align-items: flex-end;
      //     span {
      //       line-height: initial;
      //     }
      //   }
    }

    .cart {
      position: relative;

      &-icon {
        font-size: 40px;
        color: white;
      }

      .cart-quantity {
        position: absolute;
        top: -5px;
        right: -15px;
        //   left: 10;
        //   margin: 0px auto;
        background-color: green;
        color: white;
        border-radius: 50%;
        padding: 5px;
        //   border: 1px solid red;
        // height: 35px;
        // width: 45px;

        display: flex;
        justify-content: center;
        align-items: center;

        .quantity {
          font-size: 20px;
        }
      }
    }
  }
}

.categories-menu {
  background-color: #232f3e;
  padding: 8px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 6px;

    img {
      height: 64px;
      width: 64px;
      object-fit: cover;
    }
    p {
      margin: 0;
    }
  }
}
