@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

@import "./config/css-config/mixin.scss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;

  @include md {
    scroll-padding-top: 80px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 2;
  font-weight: 500;
}

input {
  width: 200px;
  height: 40px;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 12px;
  font-size: 16px;
  outline: none;

  @include md {
    width: 300px;
  }
}

a {
  color: black;

  &:hover {
    color: white;
  }
}

.feedback {
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1;
  padding: 15px 12px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  span {
    font-size: 16px;
    text-align: justify;
    line-height: 22px;
  }

  .close {
    width: 22px;
    height: 22px;
    font-size: 20px;
    flex-shrink: 0;
    cursor: pointer;
  }

  &-error {
    background-color: #f8d7da;
    color: #b02a37;
    border: 1px solid #f1aeb5;
  }
}

button {
  height: 40px;
}

button,
.cta {
  outline: 0;
  border: 0;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #8e2de2 !important;
}

.cta {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
