@import "../../config/css-config/mixin.scss";

.hero-banner {
  padding: 40px 0px;
  position: relative;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);

  @include lg {
    height: calc(100vh - 80px);
  }

  .content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    max-width: calc(100% - 20px);
    margin: 0px auto;
    position: relative;

    @include lg {
      flex-direction: row;
      max-width: 1200px;
    }

    .text-content {
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include lg {
        // position: absolute;
        top: 50%;
        left: 50px;
        // transform: translateY(-50%);
      }

      @include xxl {
        left: 0px;
      }

      h1 {
        font-size: 40px;

        @include xs {
          font-size: 80px;
        }

        font-weight: 700;
        line-height: 1;
        margin-bottom: 20px;
        color: white;

        @include xxl {
          font-size: 180px;
        }
      }

      p {
        max-width: 300px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;

        @include md {
          max-width: 500px;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 40px;
        }
      }

      .ctas {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: column;

        @include xs {
          flex-direction: row;
        }

        .banner-cta {
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 500;
          border: 2px solid white;
          padding: 10px 20px;
          cursor: pointer;
          color: white;

          &.v2 {
            background-color: white;
            color: black;

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }

    .banner-img {
      position: relative;
      z-index: 9;
      width: 200px;
      margin-bottom: 20px;

      // img {
      //   mix-blend-mode: darken;
      // }
      mix-blend-mode: multiply;

      @include lg {
        width: 100%;
        max-height: 100%;
        min-width: 340px;
        max-width: 400px;
        margin-right: 6%;
        margin-top: 50px;
      }

      @include xl {
        max-height: 100%;
        width: 100%;
        max-width: 500px;
      }

      @include xxl {
        width: 600px;
        margin-right: 0px;
        margin-top: 0px;
      }
    }
  }
}
